/*
CSS normalization


*/
@font-face {
  font-family: "Zilla Slab";
  font-weight: 400;
  src: url("src/fonts/zillaslab-regular-webfont.woff2") format("woff2"), url("src/fonts/zillaslab-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  src: url("src/fonts/zillaslab-bold-webfont.woff2") format("woff2"), url("src/fonts/zillaslab-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 400;
  font-style: italic;
  src: url("src/fonts/zillaslab-italic-webfont.woff2") format("woff2"), url("src/fonts/zillaslab-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  font-style: italic;
  src: url("src/fonts/zillaslab-bolditalic-webfont.woff2") format("woff2"), url("src/fonts/zillaslab-bolditalic-webfont.woff") format("woff");
}
html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
  font-family: "Zilla Slab", arial, sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

button{
  all: unset;
}

.backdrop {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.backdrop h1 {
  /* flex-grow: 1; */
  text-align: center;
  padding: 2rem 0 0 0;
  color: #454545;
  font-size: 3rem;
}

/* 
Center Box
*/
.landing {
  flex-grow: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  margin: 5% auto;
  max-width: 75%;
  min-width: 30%;
  border-radius: 5%;
  background-color: #a7b2c8;
}

/*
Menu Buttons
*/
.landing a {
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 2rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
}

.landing a:hover {
  background-color: #4f9799;
  color: #fff;
  padding: 2.5rem;
}

/*
  Back Button
*/

.back_button a {
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
}

.back_button a:hover{
  background-color: #4f9799;
  color: #fff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}
/*
End of the back button
*/

/*
Pop up error
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #779be7;
  margin: auto;
  border-radius: 15%;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
  height: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 75px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*
End of error message
*/

/*
Multiple Choice
*/

/*
Shape for Mutliple choice question
*/
.circle {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: lightseagreen;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.vertical_line {
  border-left: solid black;
  height: 12rem;
  margin-left: 6rem;
}

.horizontal_line {
  height: 3px;
  width: 12rem;
  color: black;
  background-color: black;
  border-width: 0px;
  transform: translateY(-6rem);
}

/*
Answer Buttons
*/
.multi_buttons0{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 85vh;
  margin: 5% auto;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5%;
  background-color: white;
}

.multi_buttons0 a{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
}

.multi_buttons0 button{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
  outline: none;
  border: none;
}

.multi_buttons0 a:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
}

.multi_buttons0 button:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
}

.multi_buttons1{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 85vh;
  width: 25;
  margin: 5% auto;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5%;
  background-color: white;
}

.multi_buttons1 a{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
}

.multi_buttons1 button{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
  outline: none;
  border: none;
}

.multi_buttons1 a:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
}

.multi_buttons1 button:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
}

/*
Question Box and Text
*/
.multi_question {
  flex-grow: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 5% auto;
  margin-top: 2.5%;
  padding: 2rem;
  width: 750px;
  height: 50px;
  border-radius: 10%;
  background-color: #a7b2c8;
}

.multi_question p {
  text-align: center;
  font-size: 2rem;
  color: #454545;

}
/*
End of Mutliple Choice Section
*/


/*
****Vocabulary Style****
*/
/* 
.vocab_question is for the white box that has the question and the 4 answers
on it
 */
.vocab_question {
  flex-grow: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  margin: 5% auto;
  max-width: 75%;
  min-width: 30%;
  border-radius: 5%;
  background-color: #fff;
}
/*
.vocab_box is for the question box at the bottom of the each scene.  
 */
.vocab_box {
  flex-grow: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 750px;
  height: 100px;
  margin: 5% auto;
  max-width: 75%;
  min-width: 30%;
  border-radius: 5%;
  background-color: #a7b2c8;
}

/*
The direction sentence "Click on the correct word to finish the sentence."
*/
.vocab_box p {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}

.vocab_question p {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}
/* 
The following are for the buttons that are to be clicked to go to the 
next scene. 
These are the same CSS for all 3 scenes. 
 */
/*
Answer Buttons
*/
.vocab_buttons0{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 85vh;
  margin: 5% auto;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5%;
  background-color: white;
}

.vocab_buttons0 a{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
}

.vocab_buttons0 button{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
  outline: none;
  border: none;
}

.vocab_buttons0 a:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
}

.vocab_buttons0 button:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
}

.vocab_buttons1{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 85vh;
  width: 25;
  margin: 5% auto;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5%;
  background-color: white;
}

.vocab_buttons1 a{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
}

.vocab_buttons1 button{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin: 5%;
  outline: none;
  border: none;
}

.vocab_buttons1 a:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
}

.vocab_buttons1 button:hover{
  background-color: #4f9799;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
}

/* 
The following is for the final scene to let the user know they completed
all of the questions and got them currect. 
 */
.vocab_final {
  flex-grow: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  margin: 5% auto;
  max-width: 75%;
  min-width: 30%;
  border-radius: 5%;
  background-color: #a7b2c8;
}
.vocab_final a {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}
.vocab_final p {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}

/* 
The following is for the final scene to let the user know they completed
all of the questions and got them currect. 
 */
.vocab_final {
  flex-grow: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  margin: 5% auto;
  max-width: 75%;
  min-width: 30%;
  border-radius: 5%;
  background-color:  #a7b2c8;
}
.vocab_final a {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}
.vocab_final p {
  color: #454545;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}

/*
End of Vocabulary section 
*/

/*
Multiple Choice
*/
#whole {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  z-index: 1;
}
#half {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#fourth {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.container{
  display: flex;
  justify-content: center;
}

.whole_basket{
  text-align: center;
  align-self: center;
  flex-direction: column;
  height: 45vh;
  width: 15vh;
  border-radius: 5%;
  background-color: #a7b2c8;
}

.half_basket{
  text-align: center;
  align-self: flex-start;
  height: 45vh;
  width: 15vh;
  border-radius: 5%;
  background-color: #a7b2c8;
}

.fourth_basket{
  text-align: center;
  height: 45vh;
  width: 15vh;
  margin-left: 15%;
  border-radius: 5%;
  background-color: #a7b2c8;
}

.check_button button{
  background-color: #779be7;
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 35px;
  transition: ease all 0.3s;
  margin-left: 42%;
}

.check_button button:hover{
  background-color: #4f9799;
  color: #fff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}
