/*
CSS normalization


*/
$onyx: #454545;
$cadet-blue-crayola: #a7b2c8;
$minion-yellow: #f4e04d;
$cornflower-blue: #779be7;
$persian-green: #1ea896;
$paradise-pink: #e05263;

$dark: $onyx;
$light: #fff;
$light2: #eaeaea;
$success: $persian-green;
$failure: $paradise-pink;
$primary: $cornflower-blue;
$primary2: #4f9799;
$secondary: $cadet-blue-crayola;
$accent: $minion-yellow;

@font-face {
    font-family: "Zilla Slab";
    font-weight: 400;
    src: url("src/fonts/zillaslab-regular-webfont.woff2") format("woff2"), 
        url("src/fonts/zillaslab-regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Zilla Slab";
    font-weight: 700;
    src: url("src/fonts/zillaslab-bold-webfont.woff2") format("woff2"), 
        url("src/fonts/zillaslab-bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Zilla Slab";
    font-weight: 400;
    font-style: italic;
    src: url("src/fonts/zillaslab-italic-webfont.woff2") format("woff2"), 
        url("src/fonts/zillaslab-italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Zilla Slab";
    font-weight: 700;
    font-style: italic;
    src: url("src/fonts/zillaslab-bolditalic-webfont.woff2") format("woff2"), 
        url("src/fonts/zillaslab-bolditalic-webfont.woff") format("woff");
}
html, body {
    margin: 0;
    height: 100%;
    font-size: 100%;
    font-family: "Zilla Slab", arial, sans-serif;
}
div {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}

.backdrop {
    background-color: $light;
    margin: 0;
    min-height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.backdrop h1 {
    flex-grow: 1;
    text-align: center;
    padding: 2rem 0 0 0;
    color: $dark;
    font-size: 3rem;
}
/* 
Center Box
*/
.landing {
    flex-grow: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin: 5% auto;
    max-width: 75%;
    min-width: 30%;
    border-radius: 5%;
    background-color: $secondary;
}
/*
Buttons
*/
.landing a {
    background-color: $primary;
    color: $light2;
    text-decoration: none;
    font-size: 1rem;
    padding: 2rem;
    width: 10rem;
    text-align: center;
    font-weight: bold;
    border-radius: 35px;
    transition: ease all .3s;
}

.landing a:hover {
    background-color: $primary2;
    color: $light;
    padding: 2.5rem;
}